.class1 button{
    background-color: aquamarine;
}
#div1 button:hover{
    background-color: antiquewhite;
}
.class2 a{
    background-color: green;
    color: white;
}
.class2 a:hover{
    background-color: burlywood;
    color: black;
}
/* .class3 a{
    color: brown;
    text-decoration: none;
} */
p.class3 a{
    color: black;
    padding: 5px;
    border-color: blueviolet;
    border-style: solid;
    border-radius: 20px;
}
.class3 a:hover{
    color: rgb(117, 143, 119);
    background-color: rgba(86, 55, 17, 0.369);
    border: 2px dotted red;
    border-radius: 0;
}
input:disabled{
    background-color: aliceblue;
}