/* ol.a
{
    list-style-type: upper-alpha;
    background-color: aqua;
}
ul.b
{
    list-style-type: circle;
    background-color: chartreuse;
}
ul.c
{
    list-style-position: outside;
}
ul.d
{
    list-style-position: inside;

}
ul.e
{
    list-style-type: none;
    padding: 0;
    margin: 0;
} */
ol
{
    background-color: aqua;
    padding: 5px;
}
ul
{
    background-color: aqua;
    padding: 5px ;
}