.a
{
    background-color: aqua;
    color: white;
    text-align: center;
}
 .b
{
    /* text-align: left;
    text-align: center;
    text-align: right;
    text-align-last: left;
    text-align-last:right;
    text-align-last:center; */
    text-align-last: justify;
}
.c
{
    direction: rtl;
    unicode-bidi: bidi-override;
}
.d
{
    vertical-align: auto;
}
img.e
{
    vertical-align: sub;
}
.f
{
    text-decoration-line: underline;
    text-decoration-color: aqua;
    text-decoration-style: solid;
    text-decoration-thickness: 5px;

}
.g
{
    text-transform: capitalize;
}
.h
{
    text-indent: 100px;
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 2;
}
.i
{
    text-shadow: 1px 1px 5px red;
}
